.input-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}

.input-img  {
  width: 100%;
  height: 50px;
  background-color: rgb(69, 6, 129);
  color: white;
  
}

.meme-card {
  margin: 20px;
}

.input1 {
  /* margin-bottom: 20px; */
  margin-right: 20px;
}
.input2{
  margin-left: 20px;
}

.meme-display {
 margin: 50px;
  display: flex;
  justify-content: center;
}

.meme-image {
  width: 500px;
  height: 500px;
  
  /* object-fit: contain; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
.meme-text {
  position: relative;
}
.meme-toptext{
  position:absolute;
  left: 10%;
  top: 15px;
  color: white;
  justify-content: center;
  font-size: xx-large;
  width: 250px;
  overflow-wrap: break-word;
}
.meme-bottomtext{
  width: 250px;
  position:absolute;
  left: 10%;
  bottom: 15px;
  color: white;
  justify-content: center;
  font-size: xx-large;
  overflow-wrap: break-word;
  
}