.header{
    width: 100%;
    display: flex;
    background-color: rgb(169, 13, 241);
    height: 65px;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.header img{
    margin-right :10px
}